CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Doxyfile
Testing/
bin/
doc/
lib/
*.swp
.DS_Store
CMakeScripts
*.xcodeproj
proto_gen
proto_java
proto_matlab
proto_python
